[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install --legacy-peer-deps"]

[start]
cmd = "node_modules/.bin/prisma generate && node_modules/.bin/prisma db push --accept-data-loss && node src/server.js"

