[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install --legacy-peer-deps"]

[start]
cmd = "npx prisma generate && npx prisma db push --accept-data-loss && node src/server.js"

